{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Data | GrowthScribe Assignment</title>
</head>
<body class="">
    <h1 class="">Fetching Previous Inputs From Database</h1>
    <div class="navigation">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody>
                {%for item in data%}
                <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.details}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</body>
</html>