{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Home | GrowthScribe Assignment</title>
</head>
<body class="dark-body">
    <div class="content">
        <h1 class="heading-top">Navigator</h1>
        <div class="navigation">
            <a class="navigator-btn" href="{%url 'form'%}">Enter New Data</a>
            <a class="navigator-btn" href="{%url 'data'%}">View Past Entries</a>
        </div>
    </div>
</body>
</html>